@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-up {
  0% { transform: translateY(0) }
  100% { transform: translateY(-118%) }
}

@keyframes slide-down {
  0% { transform: translateY(0) }
  100% { transform: translateY(118%) }
}

#modal,
#modal::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#modal::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background-color: rgba(0,0,0,0.9);
  animation: fade-in 500ms backwards;
}

#modal > div {
  flex: 0 0 auto;
  width: 177.778vh;
  max-width: 960px;
  height: 100%;
  max-height: 540px;
  margin-left: calc(100vw - 100%);
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.25);
  color: #fff;
  transform: translate(0, 0) scale(0);
  transition: transform 500ms;
}


@media (max-aspect-ratio: 16/9) {
  #modal > div {
    width: 100%;
    height: 56.25vw
  }
}

#modal > div > :matches(span, button) { position: absolute; }

#modal > div > :matches(span, div) { height: 100%; }

#modal > div > span,
iframe {
  width: 100%;
}

#modal > div > span {
  background: center no-repeat;
  background-size: contain;
}

#modal > div > button {
  z-index: -1;
  height: 22px;
  line-height: 22px;
  padding: 0 11px;
  opacity: 0.5; 
  font-size: 0.75rem;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

#modal > div > button:hover { opacity: 1; }

button[title="Close"] {
  right: 0;
  animation-name: slide-up;
}

button[title="Back"] {
  bottom: 0;
  animation-name: slide-down;
}

#gallery,
.player,
.player > iframe {
  height: 100%;
}

#gallery,
.player {
  animation: fade-in 350ms 350ms both;
}

#gallery {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 25%, 
    rgba(0, 0, 0, 0.8) 75%
  );
}

#gallery > div {
  position: absolute;
  bottom: 2.2%;
  width: 100%;
}

#gallery header {
  padding: 1.8%;
  text-align: center;
  text-shadow: 0 0 4px #000;
}

#gallery header > h2::after {
  content: " (" attr(data-year) ")";
  color: #f00;
}

#gallery header > span {
  display: block;
  height: 0.875rem;
  font-size: 0.875rem;
}

div[aria-label="gallery"] { overflow: hidden; }

div[aria-label="gallery"] > button {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 10%;
  height: 100%;
  transition: transform 300ms;
}

button[title="Previous"] { left: 1px; }
button[title="Next"] { right: 1px; }

div[aria-label="gallery"] > button:hover { transform: scale(1.25); }

div[aria-label="gallery"] > button > svg {
  width: 41.666666666667%;
  min-width: 20px;
  height: 32.258064516129%;
  min-height: 20px;
  transition: transform 300ms;
}

div[aria-label="gallery"] > div {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 10%;
  mask-image: linear-gradient(
    to right,
  rgba(0,0,0,0) 1%,
  rgba(0,0,0,1) 10%,
  rgba(0,0,0,1) 90%,
  rgba(0,0,0,0) 99%
  );
  /* hide sroll bars */
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.slider-items {
  white-space: nowrap;
  padding: 2% 0;
}

.slider-items > :matches(a, button) {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  position: relative;
  padding: 0 8px;
  width: 192px;
  transition: transform 400ms;
}

.slider-items > :matches(a, button):first-of-type { margin-left: 96px; }
.slider-items > :matches(a, button):last-of-type { margin-right: 96px; }

.slider-items > :matches(a, button):hover { transform: scale(1.125); }

.slider-items > :matches(a > svg, button > span) {
  pointer-events: none;
  border: 1px solid #fff;
  background-color: #000;
}

.slider-items > a > svg {
  width: 100%;
  border-radius: 5.7% / 17.2%;
}

.slider-items > :matches(a:hover > svg, button:hover > span) {
  z-index: 2;
  box-shadow: 0 0 8px #fff;
}

.slider-items > :matches(a:hover ~ a, button:hover ~ button) {
  transform: translateX(5%)
}

.slider-items img { width: 100%; }

.slider-items > button { cursor: pointer; }

.slider-items > button::after {
  content: attr(data-title);
  display: none;
  width: 100%;
  margin-top: 5px;
  font-size: 0.5rem;
  white-space: normal;
}

.slider-items > button > span {
  position: inherit;
  display: block;
  width: 100%;
}

.slider-items .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-items > button:hover :matches(.overlay, .play) {
  opacity: 1;
}

.slider-items .play {
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, opacity 300ms;
}

.player { background-color: #000; }

@media (hover: none) {
  #gallery header > span { display: none; }
  
  .slider-items > button::after { display: block; }
}

@media (max-width: 960px) {
  .slider-items > :matches(a, button) {
    width: 20vw;
    padding: 0 0.833vw;
  }

  .slider-items > :matches(a, button):first-of-type { margin-left: 10vw; }
  .slider-items > :matches(a, button):last-of-type { margin-right: 10vw; }
}

@media (max-width: 568px) {
  #gallery h2 { font-size: 0.875rem; }

  #gallery > header > span { font-size: 0.5rem; }
}