#notfound > img {
  pointer-events: none;
  width: 100%;
}

#notfound > div {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 20rem;
  padding: 0.625rem;
  color: #fff;
}

#notfound h2 { text-transform: none; }

#notfound p { font-size: 0.875rem; }

@media (max-width: 568px) {
  #notfound > div {
    position: relative;
    color: #000;
    margin: auto;
    text-align: center;
  }
}
